html {
    font-family: verdana;
}

h1 {
    text-align: center;
}

.moreResultsDiv {
    display: flex;
    justify-content: center;
}

.resButton {
    margin: 20px;
    background-color: #bfe7a3;
}

.searchBtn {
    background-color: #e3124b;
    color: white;
}
